In [7]:
from sklearn import preprocessing
import pandas as pd

schueler_liste = { 'schueler' : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Note': ["sehr gut", "gut", "gut", "befriedigend", "gen端gend", "nicht gen端gend", "sehr gut", "gen端gend", "gut", "gut"],
    'Haarfarbe': ["braun", "schwarz", "blond", "blau", "schwarz", "br端nette", "rot", "braun", "schwarz", "schwarz"] }

df = pd.DataFrame(schueler_liste, columns = ['schueler', 'Note', 'Haarfarbe'])

In [8]:
lab_enc = preprocessing.LabelEncoder()
lab_enc.fit(df['Note'])
lab_enc.transform(df['Note'])

array([4, 2, 2, 0, 1, 3, 4, 1, 2, 2], dtype=int64)

In [17]:
one_enc = preprocessing.OneHotEncoder(sparse=False)
help_enc = preprocessing.LabelEncoder()
help_col = help_enc.fit_transform(df['Haarfarbe'])
one_enc.fit_transform(help_col.reshape(len(df['Haarfarbe']),-1))

array([[ 0.,  0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  1.,  0.,  0.,  0.,  0.],
       [ 1.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  0.,  0.,  1.]])

In [4]:
import category_encoders as ce
import pandas as pd
from sklearn.datasets import load_boston

In [5]:
# Vorbereitung der Daten
bucket = load_boston()
y = bucket.target
y.shape

(506,)

In [28]:
X = pd.DataFrame(bucket.data,columns=bucket.feature_names)

In [29]:
X.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03

In [30]:
encoded = ce.BinaryEncoder(cols=['CHAS', 'RAD']).fit(X, y)

In [31]:
X_trans = encoded.transform(X)

In [32]:
X_trans.head(3)

,CHAS_0,CHAS_1,RAD_0,RAD_1,RAD_2,RAD_3,RAD_4,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,TAX,PTRATIO,B,LSTAT
0,0,1,0,0,0,0,1,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,296.0,15.3,396.90,4.98
1,0,1,0,0,0,1,0,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,242.0,17.8,396.90,9.14
2,0,1,0,0,0,1,0,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,242.0,17.8,392.83,4.03